<table class="table table-bordered">
	<thread>
		<tr>
			<th>Nome</th>
			<th>Descrição</th>
			<th>Preço</th>
		</tr>
	</thread>
	<tbody>
		<%= render partial: "produto", collection: @produtos %>
	</tbody>
</table>