<% if flash[:notice] %>
	<div class="alert alert-success" role="alert">
		<%= flash[:notice] %>
	</div>
<%end%>
<table class="table table-bordered">
	<thread>
		<tr>
			<th>Nome</th>
			<th>Descrição</th>
			<th>Preço</th>
		</tr>
	</thread>
	<tbody>
		<%= render partial: "produto", collection: @produtos_por_nome %>
		<!-- Posso usar somente "render @produtos", pois o rails automaticamente gera e processa o partial e o collection. -->
	</tbody>
</table>

    <!-- Funciona caso as rotas sejam geradas aultomaticamente (sem resources).
    	 Para ser manualmente (sem resources), é só substituir por produtos_new_path -->
<%= link_to "Adicionar novo carro", new_produto_path %>